.table-container {
  margin: 20px auto;
  max-width: 100%;
  padding: 0;
  background: transparent;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.table th {
  background: #b00020; /* Red color */
  color: #ffffff;
  padding: 14px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
}

.table td {
  background: #ffffff;
  color: #333333;
  padding: 14px;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap; /* Prevent text wrapping */
}

.table tr:nth-child(even) td {
  background: #f6f5f5;
}

.table tr:hover td {
  background: #f0d6d6; /* Light red on hover */
  color: #333333;
}

.table tr:hover {
  cursor: pointer;
}

/* Action Button Styles */
.deactivate-button, .activate-button {
  background-color: #b00020; /* Red color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px; /* Space between buttons */
}

.deactivate-button:hover, .activate-button:hover {
  background-color: #8b0000; /* Darker red on hover */
}

.pagination-section {
  display: flex;
  justify-content: space-between; /* Align dropdown and pagination side by side */
  align-items: center;
  width: 100%;
  max-width: 1270px;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.custom-dropdown {
  margin-right: auto; /* Push dropdown to the left */
}

.button {
  background-color: #b00020; /* Red color */
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 14px;
  margin-bottom: 15px;
}

.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #b00020; /* Red color */
  border: 1px solid #b00020; /* Red border */
}
